@font-face {
  font-family: 'Neue';
  src: url('/fonts/NeueMachina-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Anastasia';
  src: url('/fonts/Anastasia.otf') format('opentype');
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.neue {
  font-family: 'Neue', sans-serif;
}

.anastasia {
  font-family: 'Anastasia', cursive;
}
